<header>
    <div class="row header text-center header_bg">
        <div class="col-md-10 text-center logo">      
            <!-- <img src="https://www.KrishnaJewellers.com/images/krishnajewellers-mobile-logo.svg" alt="" class="diplay_logo"> -->
            <h1 class="logo_title"><a routerLink="/">Wild Street Tastes - Food Corner</a></h1>
        </div>   
        <div class="col-md-2 cart_div" style="text-align: end;">
            <a class="btn cart">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="item_count"></span>
            </a>             
        </div>    
    </div>
    
    <app-nav-bar></app-nav-bar> 
    
</header>
