<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active menu_text">Home</a>
                    <a class="nav-item nav-link offer_text">Special Offer</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle menu_text" data-bs-toggle="dropdown">Categorie</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item categ_text" id="necklace" name="Necklace" #necklace>Necklace</a>
                            <a class="dropdown-item categ_text" id="bangles" name="Bangles" #bangles>Bangles</a>
                            <a class="dropdown-item categ_text" id="earrings" name="Earrings" #earrings>Earrings</a>
                            <a class="dropdown-item categ_text" id="rings" name="Rings" #rings>Rings</a>
                            <a class="dropdown-item categ_text" id="pendant" name="Pendant" #pendant>Pendant</a>                            
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link disabled" tabindex="-1">About us</a>
                </div>
                <!-- <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div> -->
            </div>
        </div>
        <app-search></app-search>
    </nav>
</div>
