.card{
    transition: all .3s ease-in-out;
    border-radius: 3px;
    position: relative;
}
.img_list{
    height: 400px;
    object-fit: cover;    
}
.favorite{
    color: rgb(219, 37, 31);
}
.favoritenot{
    color: rgb(88, 86, 86);
}