<div class="container"> 
    <div class="text-center mt-5">
      <h3>Treat Yourself</h3> 
      <span class="col-md-4 col-md-offset-4 no-padd text-center">Offers both home delivery and restaurant pick-up services</span>
    </div>  
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col" *ngFor="let food of foods">
          <div class="card">            
            <img [src]="food" class="card-img-top img_list" alt="...">
            <!-- <div class="card-body text-center text">
              <h5 class="card-title">{{ product.nom}}</h5>
              <p class="card-text">{{ product.prix  | currency: 'EUR' }}</p>
              <p class="buttons"><a class="btn btn-outline-secondary">View detail</a></p>
            </div>           -->
          </div>
        </div>
    </div>